.movies-page {
    background-color: #fafafa;
    flex: 1;
}

.movies-page__container {
    padding-bottom: 80px;
}

.movies-page__error {
    margin: 0;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.movies-page__button {
    width: 320px;
    height: 36px;
    border-radius: 6px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 60px auto 0;
}

.movies-page__button_hide {
    display: none;
}

.movies-page__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1000px) {
    .movies-page__container {
        padding: 0 30px 80px;
    }
}

@media screen and (max-width: 400px) {
    .movies-page__container {
        padding: 0 10px 98px;
    }

    .movies-page__button {
        width: 240px;
    }
}